
body{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 17px;
font-style: normal;
font-weight: 300;
letter-spacing: 0.026em;
line-height: 23px;
}
table, th, td {
  border: 3px solid white;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  background-color: rgba(237, 93, 93,0.7);
  border-radius: 10px;
  padding: 15px;
}




footer{
  background-color: rgba(233, 159, 159, 0.7);
  border-top: black;
    bottom: 0%;
    left: 0;
  width:100vw;
  height: 50px;
  margin-top: 3cm;

}