/* fonts */
@font-face {
  font-family: circularStdBold;
  src: url(../fonts/FontsFree-Net-CircularStd-Bold.ttf);
}

.w-80{
  width: 80%;
}

.error{
  color:red;
  font-size: 15px;
}

#er_icon{
  visibility:hidden;
}

.error_sign{
  color: red;
}